altgraph==0.17.5
astroalign==2.6.2
astropy==6.1.7
astropy-iers-data==0.2026.8.31.0.57.9
astropy_healpix==2.0.1
ImageIO==2.37.4
lazy-loader==0.5
networkx==3.4.2
numpy==2.2.6
packaging==26.3
pefile==2024.8.26
photutils==2.0.2
pillow==12.3.0
pyerfa==2.0.1.5
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
PyYAML==6.0.3
scikit-image==0.25.2
scipy==1.15.3
sep==1.4.1
tifffile==2025.5.10
